html {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  background-color: #253f4b;
  font-family: "Courier New";
  margin-left: 3%;
  margin-right: 3%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 22.5px;
}

hr {
  color: white;
  height: 0.15px;
  width: 85%;
}

ul {
  text-align: left;
  margin-left: 7%;
  margin-right: 7%;
  font-size: 22.5px;
}

div.footer {
  bottom: 0;
  background-color: rebeccapurple;
  width: 100%;
  height: 25px;
  padding-top: 10px;
}

#indexpg {
  color: white;
  font-family: serif;
}

#indexpg:hover {
  color: yellow;
  font-weight: 900;
}