html {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  background-color: #253f4b;
  margin-top: 13%;
  font-family: "Courier New";
}

h1 {
  font-size: 50px;
}

a {
  display: inline-block;
  width: 100px;
  height: 25px;
  padding-top: 10px;
  color: white;
  background-color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: white;
  font-weight: bold;
}

input.admlogin {
  width: 300px;
  height: 25px;
  padding-left: 10px;
  font-family: "Courier New";
  font-size: 15px;
}

#loginsuccess {
  font-size: 20px;
  color: red;
  font-weight: 700;
}

#loginbtn {
  width: 100px;
  height: 35px;
  color: white;
  background-color: black;
  font-family: "Courier New";
}

#loginbtn:hover {
  color: black;
  background-color: white;
  font-weight: bold;
}

#qpagelink {
  width: 150px;
  font-size: 15px;
}